# .ebextensions/01_nx_monorepo_startup.config
container_commands:
  01_install_dependencies:
    command: "npm install"
  02_build_apps:
    command: "npm run build"
  03_start_devluk_blog:
    command: "node dist/apps/blog/server/server.mjs"
  04_start_blog_api:
    command: "node dist/apps/blog-api/main.js"
