<div class="mx-auto max-w-screen-lg px-3 py-6">
  <div class="flex flex-col gap-y-3 sm:flex-row sm:items-center sm:justify-between">
    <a routerLink=""
      ><div
        class="flex items-center bg-gradient-to-br from-purple-500 to-red-400 bg-clip-text text-xl font-bold text-transparent">
        DevLuk Website
      </div>
    </a>
    <nav>
      <div class="flex items-center gap-2">
        <a
          href="https://github.com/DevLuk7"
          target="_blank"
          class="relative align-middle select-none font-sans font-medium text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none w-10 max-w-[40px] h-10 max-h-[40px] text-xs text-gray-100 hover:bg-gray-100/10 active:bg-gray-100/20 rounded-full">
          <span class="absolute transform -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2">
            <img width="20" height="20" src="./assets/logos/github-white.svg" alt=""
          /></span>
        </a>
        <a
          href="https://x.com/DevLuk777"
          target="_blank"
          class="relative align-middle select-none font-sans font-medium text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none w-10 max-w-[40px] h-10 max-h-[40px] text-xs text-gray-100 hover:bg-gray-100/10 active:bg-gray-100/20 rounded-full">
          <span class="absolute transform -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2">
            <img width="20" height="20" src="./assets/logos/x.svg" alt=""
          /></span>
        </a>
      </div>
    </nav>
  </div>
</div>
